/*Biryaniiiiiiiiiiiiiiiiiiii*/
.event_container1 {
    height: 100vh;
    background: grey;
}

.event_container2 .row .mutton_box {
    width: 437px;
     height: 413px;
}
.event_container2 .row .mutton_box_head {
   width: 437px;
    height: 509px;
}
