/*Biryaniiiiiiiiiiiiiiiiiiii*/
.specialityB_container1 {
    height: 100vh;
    background: grey;
}

.specialityB_container4 {
    min-height:280px;
    background: grey;
}
.specialityB_container5 .row .mutton_box {
    height: 280px;
    width: 100%;
}
.specialityB_container5 .row .mutton_box_head {
   width: 310px;
}

/*Chappppppppppppppppppppppppppp*/